@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto|Titillium+Web');


@font-face {
    font-family: 'MuseoSans_500';
    src: url('MuseoSans_500-webfont.woff2') format('woff2'),
         url('MuseoSans_500-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

::-webkit-scrollbar { 
    height: 5px;
    width: 5px;
}

body#corpo {
    height: 150%;
}

nav#bread-crumbs a#title{
    color: white;
    font-family: "Titillium Web";
    position: relative;
    font-weight: bold;
    font-size: 30px;
    left: 40px;
    transition: .5s;
   
    
}
nav#bread-crumbs a#title:hover{
    color: white;
    text-shadow: 1px 1px 15px black;
    left: 30px;
}

nav#bread-crumbs {
    background-color: rgba(0,10,0,0.98);
    padding-bottom: 1px;
    left:0px;
    position: relative;
    height: 67px;
    width: 100%;
    border-bottom: 0px solid gray;
    z-index: 8;
    display:flex;
    padding: 15px;
    position: fixed; top: 0; left: 0; right: 0;
    font-size: 16px;
}
nav#bread-crumbs::before,
nav#bread-crumbs::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-color: transparent;
    border-style: solid;
}
nav#bread-crumbs::before {
    border-width: 1.5em;
    border-right-color: white;
    border-top-color: white;
}

nav#bread-crumbs::after {
    border-radius: 0;
    border-width: 1.35em;
    border-right-color: white;
    border-top-color: white;
}
/*-----*/


nav#bread-crumbs img#tempicon{
    width: 60px;
    height:60px;
    position: relative;
    z-index: 8;
    display:flex;
    left: 5px;
    top:-10px;
    bottom:14px;
}
nav#bread-crumbs img#tempicon:hover{
    left: 20px;
    transform: rotate(180deg);
    cursor: pointer;
}

nav#bread-crumbs nav#visual{
    font-family: 'Roboto';
    position: relative;
    width: auto;
    min-height: 60px;
    border: 0px solid red;
    display: flex;
    padding: 1px;
    right: 0;
    bottom: 10px;
    margin-left: 50px;
    margin:0 auto;
    margin-right: 0px;
    font-size: 12px;
     overflow: hidden;
}
 span#ham{
        visibility: hidden;
    }

nav#bread-crumbs nav#visual::-webkit-scrollbar { 
    display: none; 
}

ul{
    list-style: none;
   
}

nav#bread-crumbs div#icondiv{
    position: relative;
    width: 100px; 
    display: flex;
    margin-right: 146px;
}

.nav-item{
    display: inline-block;
    
}
@keyframes abrir {
  0% {
    background-color: none;
    opacity: .0;
    transform:scale3d(10%);
    margin-left: -5px;
     }
    60% {
    
    opacity: .5;
    transform: none;
    }

  100% {
    width: auto;
    transform:scale3d(100%);
    opacity: 1;
    background-color: rgba(255,255,255,.3);
    transform: none;
    }
}

.nav-link{
    padding: 5px;
    color: white;
    width: auto;
    margin: 0 0px;
    cursor: pointer;
    border-right: 1px solid gray;
    font-family: "Titillium Web";
   
}
.nav-link:hover{
     animation: abrir .1s ease-in forwards;
}

div#TSDiv{
    
}
div#SMDiv{
    margin-right: 200px;
}

img#avatar{/*AVATAR*/
    position: relative;
    max-width: 40px;
    height: auto;
    margin-top: 5px;
    border-radius: 100px;
    background-color: white;
}

img#logout{
    position: relative;
    width: 30px;
    height: auto;
    margin: 0;
    right: -10px;
    margin-top: 10px;
    transition-duration: .9s;
}
img#logout:hover{
    width: 35px;
    transform:translateX(-20px);
    box-shadow: 1px 1px 10px red;
}

li#user{
    margin-right: 10px;
    width: auto;
    cursor: pointer;
    z-index: 10;
    
}
li#user:hover{
    background-color: rgba(0,0,25,.2);
}

h3#nav-username{/*USERNAME*/
    position: relative;
    display: inline;
    color:white;
    margin-right: ;
    width: auto;
    transition-duration: .6s;
    overflow: hidden;
    font-weight: ;
}
li#user h3#nav-username:hover{/*USERNAME*/
    left: 1px;
    text-shadow: 1px 1px 15px gray;
    font-size: 20px;
}
p#arrow{
    position: relative;
    color: white;
    font-weight: bolder;
    text-shadow: 1px 1px 5px black;
    bottom: 10px;
    right: 50px;
    transform: rotate(90deg);
    display: inline-block;
    font-size: 20px;
    overflow: visible;
    visibility: visible;
    cursor:pointer;
}



li#logoutli{
    position: relative;
    right: 0;
    cursor: pointer;
    z-index: 10;
}
li#logoutli:before{
    content: "Sair":
    
}
/*ASIDE - DROPDOWN*/

@keyframes rolar {
  0% {
      color: white;
    opacity: 0;
    transform: translateY(-100rem);
     }
    60% {
    opacity: .5;
    transform: none;
    }

  100% {
    opacity: 1;
    color:white;
    transform: none;
    }
}
ul#menu-items{
    color: white;
    width: 100%;
    margin: 0;
    padding: 10px;

}
.menu {
    position: fixed;
    width: auto;
    right: 10px;
    height: auto;
    min-height: 100px;
    border: 1px solid black;
    background-color: rgba(0,0,0,.5);
    animation: rolar 1s ease-out forwards;
    animation-duration: .6s;
    z-index: 11; 
    border-radius: 5px;
    font-size: 10px;
    margin-top: -20px;
    margin-left: 0;
    margin: 0;
}
.menu ul{
    margin-left: 0;
    font-size: 15px;
    margin: 0;
}
li#carteira {
    color: lightgoldenrodyellow;
    font-size: 13px;
    margin-bottom: -17;
    padding: 14px;
    background-color: black;
}
li#carteira:hover{
    cursor: inherit;
}
li#account{
    position: relative;
    right: 0px;
    border-bottom: 4px solid black;
}
li#logout{
    position: relative;
    display: block;
    right: 0px;
}
.menu li{
    padding: 5px;
}
.menu li:hover{
    z-index: 10;
    font-size: 15px;
    margin-left: 20px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background-color: red;
}
.menu a{
    color: white;
}
.hidden {
    margin-top: -50px;
    display: none;
    height: 0;
    z-index: 10;
    visibility: hidden;
    animation-duration: .2s;
    animation: rolar .6s ease-out forwards;
}
.show {
    z-index: 10;
    animation: rolar .2s ease-out forwards;
    visibility: visible;
    animation-duration: .6s;
}
@media only screen and (max-width: 425px) {
    
    @keyframes abrir-cel {
        0% {
        background-color: none;
        opacity: .0;

         }
        60% {

        opacity: .5;
        transform: none;
        }

      100% {
        opacity: 1;
        background-color: rgba(255,255,255,.3);

        }
    }
    p#arrow{
        visibility: hidden;
    }
    span#ham{
        z-index: 11;
        font-size: 25px;
        position: relative;
        top:5px;
        left: 50px;
        cursor: pointer;
        visibility: visible;
    }
    
    .hide{
        visibility: hidden;
    }
    
    .nav-link{
        padding: 5px;
        color: white;
        width: 200px;
        margin: 0 0px;
        cursor: pointer;
        border-right: 1px solid gray;
        font-family: "Titillium Web";

    }
    .nav-link:hover{
         animation: abrir-cel .1s ease-in forwards;
    }

    div#TSDiv{

    }
    div#SMDiv{
        
    }
    li#user{
        position: relative;
        border-bottom: 4px solid black;
        width: 300px;
    }
    li#logoutli{
        position: relative;
        width: 300px;
    }

    nav#bread-crumbs{
        overflow: visible;
    }
    nav#bread-crumbs nav#visual{
        overflow: visible;
        display:block;
        right: 135px;
        padding: 20px;
        z-index: 10;
    }
    nav#bread-crumbs nav#visual li{
        background-color: black;
    }
    nav#bread-crumbs li{
        display:block;
        
    }
    nav#bread-crumbs li::before{
        content: "+";
    }
     nav#bread-crumbs li::after{
        content: "+";
    }

    img#avatar{
        visibility: hidden;
        display: none;
    }
    
}