nav#bread-crumbs{
    margin-bottom: 1px;
}

body#corpo-subject{
    position: relative;
    padding:4px;
    height: auto;
    border: 5px solid black;
    margin-top: 10px;
    margin-left: 0;
}
main#subject-in{
    position: relative;
    top:50px;
	margin-top:20px;
    border: 0px dashed black;
    width: 100%;

}
.sub-in{
    max-width: 92%;
    border: 5px solid black;
    margin: 0 auto;
    border-radius: 20px;
    padding: 1px;
    background-color: white;
}
.sub-in img{
    background-position: center;
    background-size: contain;
    width: 100%;
    padding: 15px;
}
div#subject-info{
    box-shadow: 1px 1px 5px black;
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: -1px;
    font-family: 'Helvetica';
}
div#exercise-box{
    margin-top: -7px;
    border-top: 3px solid black;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
div#introduction{
    position: relative;
    width: 100%;
    margin: 0;
    padding-left: 50px;
    background-color: orange;
    padding-top: 20px;
    color: white;
    text-shadow: 1px 1px 5px black;
    border-bottom: 3px solid black;
    border-radius: 15px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.sub-in > div#introduction{
    padding: 12px;
}
h1#sub-name{
	position: relative;
	padding: 10px;
    font-weight: bold;
    margin: 0 auto;
    display: inline;
    padding-left: 50px;
}
h2#sub-description{
	 position: relative;
	 width: 100%;
	 max-width: 500px;
     padding: 3px;
     padding-left: 25px;
} 
button#start{
    padding: 15px;
    cursor: pointer;
    border-radius: 0px;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: black;
    font-weight: bolder;
    font-size: 25px;
    border: 0;
    float: right;
    margin-top: 25px;
    margin-right: 10px;
    border-radius: 30px;
}
p#sub-introduction{
	padding: 15px;
    font-family: 'Roboto';
    font-weight: 500;
}

div#description{
	position: relative;
    margin: 10px;
	display: inline-block;
 	margin:10px;
    padding: 15px;
}
footer#rodape{
	overflow: hidden;
	margin-top:90%;
	position: relative;
	bottom: 0;
}